# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log

# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore

# Server
#
.env
configuration/app/publicURL.js
public/assets
build

# Yarn
#
yarn-error.log
yarn.lock

.idea/
